*{
    transition: all 0.7s ease-in-out;

}


.btns{
    height: 400px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background-color: #b3b3b3;
    
}
 .btn{
    max-width: 250px;
    height: 115px;
    border-radius: 50%;
    margin-top: 0.5rem;
        
}

.card-body{
    background-color: #e1d8d8;
    font-size: xx-large;
    height: 100px;
}